h1 {
    color: green;
}

body {
    background: #3f4441;
}

aside.panel {
    float: left;
    background: #ffdecf;
    width: 19%;
    padding: 2.7%;
    height: 100vh;
    color: #F1564A;
}

aside.logo {
    top: -30px;
}


aside.h3 {
    font-size: 25px;
}

aside ul {list-style: none}

aside ul li {
    color: #F1564A;
    display: block;
    margin-top: 20px;
    transition: all .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #6a3f3c;
    transform: scale(1.55);
}

div {
    grid-template-rows: auto 1fr auto;
    text-align: center;
}

div main {
    color: red;
    background: #5e6f64;
    width:50%;
}

div footer {
    color: blue;
    width: 20%;

}

div header {
    background: #ba7967;
    width: 10%;
}

